__MACOSX
.history/
.history/tests
.history/.git*.*
.history/juststreamit_202309*.*

.vscode

api/
config/
data/
data/movies.db.zip
docs/
env/
livrables/
movies/
movies/*.*
tests/

.gitignore.old
db.sqlite3
manage.py
Pipfile*
requirements*.*
setup.cfg

*.zip
*.bkp
mintty.exe.stackdump
.gitignore