@charset "UTF-8";

h1{
  font-size: 24px;
  margin: 0;
}

h2{
  font-size: 18px;
  margin: 20px;
}

#header{
  font-family:Verdana;
  background-color: rgb(98, 117, 132);
  color: rgb(184, 187, 190);
  display: inline-block;
  width: 100%;
  /*flex:1;
  flex-direction:row;*/
  justify-content: space-between;
  align-items: center; 
  /*height: auto;
  margin: 0;*/
}

#section{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.categoryTitle {
  display: flex;
  flex-direction: column;
  position:relative;
  align-items: flex-start;
  overflow: hidden;
}

.containerimages{
  display: flex;
  flex-direction: row;
  width: 728px;
  height: 268px;
  /*border: 1px solid #220303;*/
  margin: 1px;
  /*overflow:hidden;
  border:solid 4px #470606;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);*/
}

/*.divImage{
  /*display: inline-block;
  width: 182px;
  height: 268px;
  justify-content:center; /* Centrer horizontalement 
  background-size: cover;
  align-items: stretch; /* Centrer verticalement 
  margin: 0;
}*/

.imageToDisplay{
  margin:0;
  display: inline-block;
  width: 182px;
  height: 268px;
  overflow:visible;
  background-size: cover;
}
/*.imageToDisplay{
  background-image: inherit;
}*/

/*#numberOne.divImage {
  flex: 1;
  justify-content: center;
  align-items:baseline;
}*/


/*#carrouselnumberOne{
  order: 1;
}

#carrouselbestFilms{
  order: 2;
}*/

/*******************************************************/
/*           Gestion des fenêtres modales              */
/*******************************************************/

/* Style pour la boîte modale, cachée au départ */
.modal{
  display:none;
  position:fixed;
  top:center;
  left:center;
  width:70%;
  height:70%;
  background-color:rgba(147, 201, 235, 0.645);
  z-index:1;
  align-items:center;
}

.image-modal-trigger{
  cursor:pointer;
  max-width:90%;
  transition:opacity 0.3s;
}

.image-modal-trigger:hover {
  opacity:0.6;
}

/* Style pour le contenu de la fenêtre modal cachée par défaut */

.modal ul{
  position:fixed;
  margin-left:20px; /* Ajoutez une marge à gauche pour séparer l'image de la liste */
  padding:0; /* Supprimez le padding par défaut de la liste */
  list-style:none; /* Supprimez les puces de la liste */
}

.li{
margin-bottom:5px;
}

/* Bouton de fermeture de la modale */
.closeButton{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.closeButton:hover{
  color:red;
}

/* Carrousel */

#carrousel{
  width: 800px;
  height: 400px;
  /*border: solid 2px #fff;
  box-shadow: 0 0 14px rgba(0,0,0,0.3);*/
  position: relative;
}

#carrouselContainer{
  align-items: center;
  width: 728px;
  height: 400px;
}

.button{
  position: absolute;
  height: 48px;
  width: 48px;
  cursor: pointer;
  top: 175px;
  opacity: 0.7;
}

.leftButton{
  margin-left:0;
  /*transition: all 0,4s ease;*/
}

.rightButton{
  margin-left: 690px;  
  /*transition: all 0,4s ease;*/
}

#leftButton:hover{
  transform: scale(1.2);
  transition: all 0,4s ease;
  opacity: 1;
}

#rightButton:hover{
  transform: scale(1.2);
  transition: all 0,4s ease;
  opacity: 1;
}

.footer{
  height: 30px;
}