@charset "UTF-8";

.mainHeader{
  font-weight: bold;
  font-size: 24px;
  margin-left: 100px;
  margin-right: 400px
}

.homeHeader{
  font-size: 20px;
  margin-left: 20px;
  margin-right: 250px;
}

.categoryHeader{
  font-size: 20px;
}

#header{
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: Verdana;
  background-color: rgb(98, 117, 132);
  color: rgb(184, 187, 190);
  align-items: center; 
  height: 100px;
}

#section{
  display: flex;
  flex-direction: column;

}

.carrouselDiv {
  flex-direction: column;
  position:relative;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.containerimages{
  display: flex;
  border:solid 1px #470606;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

#filmTitle{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin-top: 120px;
  margin-left: 80px;
  margin-right: 0px;
  text-decoration: -moz-none;
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
}

.launchButton{
    height: 30px;
    width: 90px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: #f50404; /* Couleur de fond du bouton */ 
    color: #060000; /* Couleur du texte */
    border: none; /* Supprime la bordure par défaut */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Curseur de type main (main au survol) */ 
    text-align: center; /* Centre le texte horizontalement */
    /*text-decoration: none;  Supprime la décoration du texte (liens) */
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    /*margin-top: 10px;*/
}

.imageToDisplay{
  width: 182px;
  height: 268px;
  margin: auto;
  background-image: inherit;
}

#containernumberOne {
  border: none;
  margin: auto;
}

.numberOne {
  order: 1;
}

.bestFilms {
  order: 2;
}

.Biography {
  order: 3;
}
.Adventure {
  order: 4;
}
.Sport {
  order: 5;
}

/**************************************************
 * Carrousel 
 **************************************************/
#carrouselContainer{
  position: relative;
  align-items: center;
  height: 400px;
}

.containernumberOne{
  display:flex;

}
.arrow{
  position: absolute;
  height: 48px;
  width: 48px;
  cursor: pointer;
  top: 175px;
  opacity: 0.7;
  z-index:2;
}

.leftarrow{
  margin-left:0;
  transition: all 0.4s ease;
}

.leftarrow:hover{
  transform: scale(1.3);
  transition: all 0.4s ease;
  opacity: 1;
}

.rightarrow{
  margin-left: 680px;  
  transition: all 0.4s ease;
}

.rightarrow:hover{
  transform: scale(1.3);
  transition: all 0.4s ease;
  opacity: 1;
}


/******************************************
 * Modal Display             
/*************************** **************/

/* Modal Box Style hidden by default */
.modal{
  display: flex;
  position: fixed;
  /*background-color:rgba(147, 201, 235, 0.645);*/
  /*z-index:1;*/
  top: 50%;
  left: 1293px;
  width: 504px;
  height: 672px;
  z-index: 1;
  /*align-items: center;*/
  /*align-content: center;*/
}

/*#modal-image {
  max-width: 50%;
}*/

.image-modal-trigger{
  cursor:pointer;
  transition:opacity 0.3s;
  opacity:0.6;
}

.image-modal-trigger:hover {
  display: block;
  background-color: white;
  border: inherit;
  opacity:1.0;
}

#image-modal{
  display: flex;
  align-items: center;
  width: 672px;
  height: 544px;
}

#close-modal{
  opacity: inherit;
}

#imageInfo{
  position:fixed;
  margin-left:20px; 
  padding:0; 
  list-style:none;
}

.li{
margin-bottom:5px;
}


.closeButton{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.closeButton:hover{
  color:red;
}


/***********************************************/

.footer{
  height: 30px;
}